html {
	height:100%;
}

body {
	height:100%;
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar {
	margin-bottom: 0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}

.maps-frame {
	width: 100%;
}

#mapholder{
	padding:0px;
}

#map {
	position: relative;
	overflow:visible;
	height: 100%;
	width: 100%;
}