html {
	height:100%;
}

body {
	height:100%;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow:hidden;
}

.navbar {
	margin-bottom: 0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}

.maps-frame {
	width: 100%;
}

#footer {
	background-color: #f8f8f8;
	padding:0px;
	text-align:center;
}

#maincontent{
	padding:10px;
}

#map {
	position: relative;
	height: 100%;
	width: 70%;
	float:left;
}

#buslist {
	position:relative;
	height:100%;
	width:calc(30% - 10px);
	float:left;
	border:1px solid red;
	margin-left:10px;
}